/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/*blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*** My styles ***/

body {
    background-image: url("../images/bg.jpg");
    font-family: "Annie Use Your Telescope", sans-serif;
}

* {
    box-sizing: border-box;
}

h3 {
    font-size: 1.8em;
    margin: 8%;
    text-align: center;
}

.container {
    margin: 15% auto;
    width: 100%;
    padding: 4%;
}

.container p {
    text-align: center;
    margin: 2%;
    padding: 4%;
    font-size: 1.5em;
}

.fancy-quote {
    margin-bottom: 20px;
    padding: 0.5%;
}

button {
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 2% 20%;
    background-color: teal;
    color: #efefef;
    font-family: "Annie Use Your Telescope", sans-serif;
}

q {
    display: block;
    text-align: center;
}

.fancy-quote > q {
    padding: 4%;
    quotes: '"' '"' "'" "'";
    font-style: italic;
    font-family: "Amatica SC", sans-serif;
    border-radius: 20px;
    font-size: 1.8em;
}

.bgColor {
    background-color: #eee;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #44aaf0;
        background-image: none;
    }

    q {
        display: block;
        text-align: center;
    }

    /*.fancy-quote {
        margin-bottom: 20px;
        padding: 0.5%;
    }

    .fancy-quote > q {
        padding: 4%;
        quotes: '"' '"' "'" "'";
        font-style: italic;
        font-family: "Amatica SC", sans-serif;
        border-radius: 20px;
        font-size: 1.8em;
    } */

    .container {
        margin: 0 auto;
        width: 90%;
        padding: 0%;
    }

    .fancy-quote, .fancy-quote > q {
        padding: 1%;
        margin: 2% auto;
        width: 60%;
        display: block;
    }

    .fancy-quote q {
        padding: 2%;
        font-size: 2.2em;
    }

    button {
        padding: 1% 4%;
        display: block;
        font-size: 1.9em;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    button:hover {
        background-color: blue;
    }

    .container p {
        margin: 4%;
        padding: 0;
        font-size: 1.9em;
        color: #efefef;
    }

    h3 {
        padding: 0;
        margin: 4%;
        font-size: 2.1em;
        color: #efefef;
    }

    .form-control {
        width: 50%;
        margin: 0 auto;
        font-size: 1.6em;
    }

    #ayoBtn {
        margin-top: 20px;
    }

    .no-err {
        display: none;
    }

    .error-container {
        display: block;
        color: red;
        font-size: 1.8em;
        text-align: center;
        padding: 1%;
    }

}
